<div>
  <button routerLink="/test/8">test</button>
</div>
<div>
  <p>Template First</p>
  <ng-template appOutletHost="first"></ng-template>
</div>
<div>
  <p>Template Second</p>
  <ng-template appOutletHost="second"></ng-template>
</div>
<div>
  <p>Template Third</p>
  <ng-template appOutletHost="third"></ng-template>
</div>
<!-- <div>
  <router-outlet #firstRouterOutlet #oFirst="outlet" name="first"></router-outlet>
</div>
<div>
  <router-outlet #oSecond name="second"></router-outlet>
</div>
<div>
  <router-outlet #oThird name="third"></router-outlet>
</div> -->
