<div
  class="field__container"
  [formGroup]="formGroup"
  flLayout="column"
  fxLayoutGap="1em"
  fxLayoutGap.xs="0px"
>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="7px"
    fxLayoutGap.sm="0px"
  >
    <div class="field__label"> {{ label }} </div>
    <div class="field__inner">
      <input
        class="field__input"
        name="value"
        formControlName="value"
        #input
        [attr.maxlength]="maxLength"
        [placeholder]="placeholder"
      >
      <span class="field__hint"> {{ input.value?.length || 0}} / {{ maxLength }}
      </span>
    </div>
  </div>
</div>
