$slide-checked-color: rgb(228, 13, 113);
$frame-color: rgb(230, 231, 234);
$font-family: Frutiger,
"Frutiger Linotype",
Univers,
Calibri,
"Gill Sans",
"Gill Sans MT",
"Myriad Pro",
Myriad,
"DejaVu Sans Condensed",
"Liberation Sans",
"Nimbus Sans L",
Tahoma,
Geneva,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

::ng-deep .service-editor-dialog {
  font-family: $font-family;

  .card__header {
    font-size: 1.1em;
    font-weight: bolder;
    margin-bottom: 1em !important;

    .card__header-title {
      font-weight: 800;
    }

    .card__header-button {
      padding-right: 0;
      position: relative;
      .mat-icon {
        font-weight: bold;
        color: darken($frame-color, 30);
        position: relative;
        right: -0.5em;
      }
    }
  }

  .mat-dialog-container {
    background-color: white;
    border-radius: 1em !important;
    color: rgb(10, 10, 10);
  }

  .field__label {
    font-weight: 600;
    font-size: 1em;
  }

  .card__save-button {
    border: solid 1px;
    border-radius: .5em;
    color: rgb(240, 240, 240);
    background-color: $slide-checked-color;
    font-size: 1em;
    padding: .2em 1em;
  }

  .card__category {
    background-color: $frame-color;
    padding: .4em 1em;
    border-radius: .5em;
    color: darken($color: $frame-color, $amount: 50);

    .card__service {
      font-size: 1.1em;
      font-weight: 600;

      .card__service-icon {
        font-size: 1.6em;
      }
    }

    .card__service-button {
      border: solid 1px darken($frame-color, 30);
      border-radius: .5em;
      background-color: transparent;
      font-size: 1em;
      padding: 0 1.3em;
      font-weight: 500;
    }
  }
}
